*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

head{
    margin: 0;
    padding: 0;
    text-align: right;
    border: 0px solid yellowgreen;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0px;
}

img{
    width: 100%;
    height: auto;
    float: left;
    z-index: -1;
}

h1{
    color: white;
    text-align: left;
    border-bottom: solid;
    font-family: monospace;
    font-size: 21;
}

a{
    color: #66ccff;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0px;
    font-family: monospace;
}

p{
    color: white;
    text-align: left;
    font-family: monospace;
    font-size: 15;
}

#hanus_logo{
    border: 10px;
    width: 15%;
    height: auto;
}

#grab_link{
  width: 1%;
  height: auto;
}

#dogo{
width: 15%;
height: auto;
}
/*
     FILE ARCHIVED ON 10:06:02 Mar 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:49:51 Jun 02, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.66
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.082
  esindex: 0.009
  cdx.remote: 20.752
  LoadShardBlock: 111.217 (3)
  PetaboxLoader3.datanode: 79.628 (5)
  PetaboxLoader3.resolve: 231.942 (2)
  load_resource: 248.515
  loaddict: 56.093
*/