@import url("https://use.typekit.net/jmk3xov.css");

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  cursor: none;
}

:root {
  --dark-bg: #000000;
  --white: #ffffff;
  --spacing: 350px;

  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#display-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  background-color: inherit;
}

.circle:hover {
  backdrop-filter: invert(0);
}

Header:hover + .circle {
  backdrop-filter: invert(1);
}

@font-face {
  font-family: Helvetica;
  src: url(Helvetica.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(Helvetica-Bold.woff2);
  font-weight: bold;
}

Main {
  width: 100vw;
  color: var(--dark-bg);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p2 {
  font-size: 2vh;
}

h1, h2, h3 {
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
}

a { 
  color: var(--dark-bg);
}

Header {
  font-family: Helvetica-Bold;
  background: var(--white);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 30px;
}

TextBlock {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--white);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  max-width: 50vw;
  border-radius: 30px;
}

TextBlock2 {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--white);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  max-width: 50vw;
  border-radius: 30px;
}